.about .row {
    display: flex;
    align-items: center;
    background: black;
    flex-wrap: wrap;
}

.about{
    background-color: black;
}

.about .heading{
    text-align: center;
    color: white;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    background: rgb(29, 28, 28);
}

.about .row .content h3{
    font-size: 3rem;
    color: white;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.about .content .btn {
    background-color: yellow;
    margin-bottom: 20px;
    border-radius: 12px;
    cursor: pointer;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: orange;
    text-transform: uppercase;
}